/* Add CSS Styling */
p {
  background-color: #ffc0cb;
  font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#second-element {
  color: #0000ff;
  font-size: 36px;
}

.font-size {
  font-size: 24px;
}

#fourth-element {
  background-color: #90ee90;
  font-weight: bold;
}

